<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Molecula.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Molecula.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Molecula.Properties.Settings>
            <setting name="LastSelectedSystem" serializeAs="String">
                <value>MOLTEST</value>
            </setting>
            <setting name="LastSelectedLanguage" serializeAs="String">
                <value>English</value>
            </setting>
        </Molecula.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Molecula.Properties.Settings>
            <setting name="AvailableSystem0" serializeAs="String">
                <value>MOLTEST</value>
            </setting>
            <setting name="AvailableSystem1" serializeAs="String">
                <value>MOLVAL</value>
            </setting>
            <setting name="AvailableSystem2" serializeAs="String">
                <value>MOLPROD</value>
            </setting>
        </Molecula.Properties.Settings>
    </applicationSettings>
</configuration>